[flake8]
ignore =
    B008,
    D100,
    D101,
    D102,
    D103,
    D105,
    D107,
    E302,
    E501,
    WPS115,
    WPS300,
    WPS306,
    WPS404,
    WPS600,

exclude =
    .venv/,
    __init__.py,
    migrations/*,

per-file-ignores =
    app/schemas/*.py,
    core/settings.py:
        N805,
        WPS110,
    models/utilities/base.py:
        N805,
    tests/**/test_*.py:
        S101,
        WPS226,
        WPS317,
        WPS432,

max-imports = 13
inline-quotes = "
