# Project Files

configurations/*.env
!configurations/.test.env
!configurations/.example.env

tests/coverage-report-pages/


# Python & System Files

.venv/
.coverage
**/__pycache__/
**/.mypy_cache
**/.pytest_cache
**/.DS_Store
